button,
div,
form,
input {
  margin: 10px;
}

body {
background-image: url("../images/projects/gif/background-TV.png");
background-size: 100%;

}
button, input {
  background-color: black;
  color: bisque;
  padding: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

h1, label {
  font-family: 'Bungee', cursive;

}

p {
  color: orangered
}


.inputTopic {
  display:inline-block;
}

#rxr-link {
  text-align: right;
  position: fixed; 
  bottom:0%;
  right: 20px;
  color: white;
}