
@import url('https://fonts.googleapis.com/css?family=Cinzel|Patua+One');

header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
  }
  
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
  }


  h1 {
    font-family: 'Patua One', cursive;
    font-size: 50px;
  }

  .subheading {
    font-family: 'Cinzel', serif;
    font-size: 24px;

  }

  .card-header {
    font-family: 'Cinzel', serif;
    background-color: #868e96;
  }

  h5 {
    background-color: #868e96;
  }
  body {
      background-color: silver;
  }

  .card-body {
    background-color: rgb(236, 234, 230);
}

.form-control {
    background-color: #f7f7f7;
    font-family: 'Patua One', cursive;

}

#tableSchedule, .btn {
    font-family: 'Patua One', cursive;
}

#rxr-link {
    float: right;
    font-family: 'Cinzel', serif;
}

a:link {
    color:black;
}

a:active {
    color: white;

}

a:visited {
    color: #868e96;
}

